.tip {
  display: flex;
  gap: 1rem;
  align-items: center;

  height: 5.4rem;
  background-color: #ebebfc;
  padding: 1rem;

  border-radius: 0.62rem;

  img {
    width: 2rem;
    height: 2rem;
    flex: 1;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 10;

    strong {
      color: #4f4fb9;
      font-size: 1.25rem;
    }

    span {
      color: #4f4fb9;
      font-size: 1rem;
    }
  }
}
