.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    height: 3.75rem;
  }

  > header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3.25rem 0;

    button {
      background-color: transparent;
      border: none;
    }

    img {
      transition: transform 0.5s;
      height: 2rem;

      &:hover {
        transform: scale(1.3);
      }
    }

    span {
      font-size: 1.12rem;
      color: #9b9b9b;

      strong {
        font-size: 1.37rem;
        color: #e8891c;
      }
    }
  }
}
